.container {
  width: 600px;
  height: 100vh;

  padding-top: 2vh;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}
  

  
.choose-game {
  color: #6ea3ec;
  text-shadow: 0 0 10px #4c82ce;
  /* margin: 20px; */
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  /* margin-bottom: 10px; */
}
  
  
.games-container {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin-bottom: 40px;
}
  
.game-link {
  width: 40%;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.game-link:active {
  transform: scale(1.1);
}

.game-logo-square {
  aspect-ratio: 1;
  border: 2px solid white;
  overflow: hidden;
  margin-bottom: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 
    0px 0px 10px 1px rgba(255, 255, 255, 0.7),
    inset 0px 0px 20px 1px rgba(255, 255, 255, 0.7);
}
  
.game-logo {
  height: 100%;
  width: 100%;
}

.game-name {
  font-size: 180%;
  letter-spacing: 1px;
  line-height: 100%;
  text-align: center;
  font-family: "Large", sans-serif;

  text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}



.help-button {
  width: 70%;
  padding: 5px;
  background-color: #396eb9;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4vmax;
  font-family: "Large", sans-serif;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}
